DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vlink_db?schema=public"
JWT_SECRET="change-me"
SAP_ODATA_BASE_URL=""
SAP_ODATA_PRE_ORDER_PATH="/pre-order"
SAP_ODATA_POST_ORDER_PATH="/post-order"
SAP_ODATA_USERNAME=""
SAP_ODATA_PASSWORD=""
